{% extends 'main/base.html' %}
{% load static %}

{% block title %}HOME{% endblock %}
{% block content %}
    <section class="home d-flex flex-column">
        <div class="home-title">
            <h1>Our Best Products</h1>
            <a href="#" class="home-btn mt-4">ALL PRODUCTS</a>
        </div>
        <div class="home-recomendation">
            <div class="rec-title">
                <h3><span>Popular</span></h3>
            </div>
        </div>
        <div class="home-cards">
            {% if product %}    
                {% for product in products %}
                    <a href="{{ product.get_absolute_url }}" class="home-card">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="detail-image">
                        <h5 class="title-card">{{ product.name }}</h5>
                    {% if product.discount %}
                        <div class="card-discount">
                            <p class="line">{{ product.price }}</p>
                            <p>{{ product.sell_price }}</p>
                        </div>
                    {% else %}
                        <p class="price">{{ product.price }}</p>
                    {% endif %}
                </a>
                {% endfor %}
            {% else %}
                <p>No products found</p>
            {% endif %}
        </div>
    </section>
    <img src="{% static 'img/font1.png' %}" class="logofont1" alt="">
    <img src="{% static 'img/font2.png' %}" class="font2" alt="">
{% endblock content %}