@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");


:root {
    --black: #171718;
    --black-border: #171718;
    --white: aliceblue;
    --Cyan-dark: rgb(35, 114, 117);
    --Cyan-light: #98dae2;
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--Cyan-light);
}

html,
body {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.5px;
    color: var(--dark-bg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* nav */
.nav {
    padding: 10px 0;
    border-bottom: 2px solid rgb(28, 155, 149);
    background-color: var(--Cyan-dark);
    color: var(--header-text);
    letter-spacing: normal;
    width: 100%;
    box-sizing: border-box;
}

.nav-container {
    margin: 0;
    padding: 0 15px;
    /* max-width: 1400px; */
    width: 100%;
    box-sizing: border-box;
}

.nav-row {
    display: flex;
    justify-content: left;
    align-items: center;
    column-gap: 100px;
    row-gap: 50px;
    flex-wrap: wrap;
}



.logo strong {
    font-weight: 500;
}


.nav-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
}

.nav-list__link {
    cursor: pointer;
    color: var(--header-text);
    text-decoration: none;
    position: relative;
}

.nav-list__link:hover {
    opacity: 0.8;
    transition: background-color 0.5s ease;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--Cyan-light);
}

/* header content */
.header {
    height: calc(100vh - (52.8px + 24.8px));
    background-color: var(--dark-bg);
    /* background-image: url(./../img/200.jpg); */
    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__wrapper {
    padding: 0 40px;
    width: 630px;
}


.header__title {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
}

.header__title strong {
    font-size: 50px;
    font-weight: 700;
}

.header__title em {
    font-style: italic;
    color: var(--accent);
}

.header__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.4;
}

.header__text p+p {
    margin-top: 1em;
}

/* Создаем анимацию для градиента */
@keyframes gradientFlow {
    0% {
        background-position: -100% 0;
        /* Начинаем слева за пределами текста */
    }

    100% {
        background-position: 100% 0;
        /* Заканчиваем справа за пределами текста */
    }
}
.logo {
    background: linear-gradient(90deg, rgb(208, 255, 255), rgb(72, 209, 204), rgb(236, 255, 255));
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientFlow 5s alternate infinite;
    font-size: 24px;
    font-family: "DM Sans", sans-serif;
}

.header__title {
    background: radial-gradient(circle, rgb(0, 128, 128), rgb(72, 209, 204), rgb(175, 238, 238));
    /* Градиент */
    background-size: 200% 100%;
    /* Увеличиваем размер фона для анимации */
    -webkit-background-clip: text;
    background-clip: text;
    /* Обрезаем фон по тексту */
    -webkit-text-fill-color: transparent;
    /* Делаем текст прозрачным */
    animation: gradientFlow 3s linear infinite;
    /* Анимация */
}

/* footer */
.footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: var(--Cyan-dark);
    padding: 2px;
    text-align: center;
    box-sizing: border-box;
}

/* grid */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    gap: 30px;
    max-width: 1400px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
        /* Один столбец для маленьких экранов */
        margin-top: 2px;
        /* Убираем отступ сверху */

    }

    .grid-item {
        display: flex;
        box-sizing: content-box;
        box-shadow: 0 0 0 5px transparent;
        transition: outline-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
        flex-direction: column;
    }
}



.grid-item:hover {
    box-shadow: 0px 0px 15px rgb(0, 206, 209);
    transition: outline-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    flex-direction: column;
}

.grid-item img {
    width: 100%;
    object-fit: cover;
}

.artist-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.artist-name {
    position: absolute;
    margin-top: -20px;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    color: aliceblue;
    /* Белый текст */
    font-size: 1rem;
}


.artist-detail {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
}

.artist-container {
    display: flex;
    justify-content: flex-start;
    /* Размещение фотографии слева */
    align-items: flex-start;
    /* Выравнивание фотографии по верхнему краю */
    width: 500px;
    /* Фиксированная ширина контейнера изображения */
    height: 400px;
    /* Фиксированная высота контейнера изображения */

}

.artist-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Вместо 'left', это корректное значение */
    align-items: flex-start;
    /* Вместо 'normal', это корректное значение */
    font-size: 1.5rem;
    /* Поднимаем выше */
    color: aliceblue;
    /* Цвет текста */
    text-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
    /* Тень */
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.social-links li {
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--Cyan-dark);
}

@media (max-width: 768px) {
    .artist-detail {
        flex-direction: column;
        padding: 20px;
    }

    .artist-container {
        width: 100%;
        margin-right: 0;
        /* Убираем отступ справа для маленьких экранов */
        margin-bottom: 20px;
        /* Добавляем отступ снизу для изображения */
    }

    .artist-info {
        width: 100%;
        /* Увеличиваем ширину блока информации для мобильных */
    }
}