@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* * {
    border: 1px solid red;
} */

/* Змінні для базових кольорів */
:root {
    --black: #171718;
    --black-border: #171718;
    --white: aliceblue;
    --Cyan-dark: rgb(35, 114, 117);
    --Cyan-light: #98dae2;
    --dark-bg: var(--black);
    --dark-border: var(--black-border);
    --header-text: var(--white);
    --accent: var(--Cyan-light)
}


html,
body {
    font-family: 'DM Sans', sans-serif;
    letter-spacing: -0.5px;
    color: var(--dark-bg);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

html {
    overflow-y: scroll;
}

/* Приховати скроллбар за замовчуванням */
::-webkit-scrollbar {
    width: 8px;
    /* Ширина скроллбара */
    background-color: transparent;
    /* Прозорий фон */
}

/* Приховати "ползунок" скроллбара за замовчуванням */
::-webkit-scrollbar-thumb {
    background-color: transparent;
    /* Прозорий ползунок */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* Плавна зміна кольору */
}

/* Відображення скроллбара при прокрутці */
body.scrolling::-webkit-scrollbar-thumb {
    background-color: var(--Cyan-light);
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--Cyan-dark);
    padding: 2px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.nav {
    padding: 10px 0;
    border-bottom: 2px solid var(--dark-border);
    background-color: var(--Cyan-dark);
    color: var(--header-text);
    letter-spacing: normal;
    width: 100%;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
    row-gap: 20px;
    flex-wrap: wrap;
}

.logo {
    color: var(--header-text);
    font-size: 24px;
    font-family: 'DM Sans', sans-serif
}

.logo strong {
    font-weight: 500;
}

.nav-list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'DM Sans', sans-serif;
}

.nav-list__link {
    color: var(--header-text);
    text-decoration: none;
    position: relative;
}

.nav-list__link:hover {
    opacity: 0.8px;
    transition: 0.2s ease-in;
}

.nav-list__link--active {
    position: relative;
}

.nav-list__link--active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--Cyan-light);
}


.header {
    height: 92vh;
    background-color: var(--dark-bg);
    /* background-image: url(./../img/200.jpg); */
    background-position: center;
    color: var(--header-text);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header__wrapper {
    padding: 0 15px;
    width: 630px;
}

.header__title {
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.4;
}

.header__title strong {
    font-size: 60px;
    font-weight: 700;
}

.header__title em {
    font-style: italic;
    color: var(--accent);
}

.header__text {
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.4;
}

.header__text p+p {
    margin-top: 1em;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    /* Отступ между элементами сетки */
    padding: 0px;
    /* Внутренний отступ контейнера */
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        /* Меньше колонок на мобильных */
    }
}


.grid-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 300px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.artist-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

.artist-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.artist__title {
    position: absolute;
    /* Абсолютное позиционирование относительно grid-item */
    bottom: 5px;
    /* Отступ снизу */
    left: 5px;
    /* Отступ слева */
    color: aliceblue;
    /* Цвет текста */
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    padding: 0px 10px;
    /* Отступы внутри текста */
    font-size: 16px;
    /* Размер текста */
}


.artist-photo-container {
    text-align: center;

}

.artist-img {
    width: auto;
    max-height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}

.artist-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Вместо 'left', это корректное значение */
    align-items: flex-start;
    /* Вместо 'normal', это корректное значение */
    font-size: 2rem;
    /* Поднимаем выше */
    margin-top: -340px;
    /* Регулируйте значение для подъема */
    color: aliceblue;
    /* Цвет текста */
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Тень */
}


.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.social-links li {
    display: inline;
}

.social-links a {
    text-decoration: none;
    color: var(--Cyan-light);
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-links a:hover {
    color: var(--Cyan-dark);
}