{% extends "main/base.html" %}
{% load static %}

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
<header class="header">
    <div class="artist_detail">
        <div class="artist-container">
            <img src="{{ artist.photo.url }}" alt="{{ artist.name }}" class="artist-img" />
        </div>
        <div class="artist-info">
            <h1>{{ artist.name }}</h1>
            <ul class="social-links">
                {% for link in artist.social_links.all %}
                <li>
                    <a href="{{ link.url }}" target="_blank" class="social-link">
                        {% if link.platform == 'beatport' %}
                        <i class="fab fa-beatport"></i>
                        {% elif link.platform == 'soundcloud' %}
                        <i class="bi bi-soundcloud"></i>
                        {% elif link.platform == 'facebook' %}
                        <i class="fab fa-facebook"></i>
                        {% else %}
                        <i class="fas fa-link"></i>
                        {% endif %}
                        {{ link.get_platform_display }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
{% endblock %}