{% extends "main/base.html" %}
{% load cache %}
{%block title %}Artists - Obrii{% endblock %}

<!-- content -->
{% block content %}
<header class="header">
  <!-- grid artists list -->
  <div class="grid-container">
    {% for artist in artists %}
    <div class="grid-item">
      <a href="{{ artist.get_absolute_url }}">
        <img src="{{ artist.photo.url }}" alt="{{ artist.name }}" class="artist-img" />
        <div class="artist-name">{{ artist.name }}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</header>
{% endblock %}