{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Obrii{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicons/favicon.png' %}" type="image/x-icon">

    {% block extra_head %}{% endblock %}
</head>

<body class="wrapper">
    <nav class="nav">
        <div class="nav-container">
            <div class="nav-row">
                <a href="{% url 'main:index' %}"
                    class="logo {% if request.resolver_match.url_name == 'index' %}nav-list__link--active{% endif %}"><strong>Obrii
                    </strong>| Music</a>
                <ul class="nav-list">
                    {% for item in menu_items %}
                    <li class="nav-list__item">
                        <a href="{% url 'main:'|add:item.url_name %}"
                            class="nav-list__link {% if request.resolver_match.url_name == item.url_name %}nav-list__link--active{% endif %}">
                            {{ item.label }}
                        </a>
                    </li>
                    {% empty %}
                    <li>No navigation items available.</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    <!-- Content -->
    {% endblock %}
    <footer class="footer">
        <p>&copy; {% now "Y" %} Obrii Music. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_scripts %}
    <!-- Extra scripts content -->
    {% endblock %}
</body>

</html>