{% extends "main/base.html" %}

{% block title %}Home - Obrii{% endblock %}


{% block content %}
<header class="header">
    <div class="header__wrapper">
        {% block header_content %}
        <h1 class="header__title">
            <strong>The pulse of <em>Ukraine</em></strong> in the <em>rhythm</em> of techno
        </h1>
        <div class="header__text">
            <p>"At the heart of Ukraine's vibrant culture lies a rhythm that pulses with energy, defiance, and hope. We
                are the sound of a nation that dances through challenges, turning beats into anthems of freedom.
            </p>
        </div>
        {% endblock %}
    </div>
</header>
{% endblock %}